*{
	margin: 0;
	padding: 0;
}

header img{
	width: 20%;
	height: auto;
	margin: auto;
	display: block;
}

body{
	background: #e6e6e6;
}

/*.contenedor{
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}*/

h2 {
	font-size: 21px;
	text-align: center;
}

p {
	font-size: 18px;
}

header, .main, footer{
	width: 90%;
	max-width: 1000px;
	margin: 20px auto; 
}

header nav{
	background: #FF3333;
	overflow: hidden;
	-webkit-animation: all ease .5s ;
	-o-transition: all ease .5s ;
	transition: all ease .5s ;

}

header nav ul{
	list-style: none;
}

header nav ul li{
	float: left;
}

header nav ul li a{
	padding: 10px 20px;
	display: block;
	color: #fff;
	text-decoration: none;
	text-align: center;
	font-size: 22px;
}

header nav ul li a:hover{
	background: #E22E2E;
}

.menu-fixed {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	/*max-width: 1000px;*/
	box-shadow: 0px 4px 3px rgba(0, 0, 0, .2);
}

.main{
	box-sizing: border-box;
}
.main section{
	width: 100%;
	margin-right: 1.5%;
	float: left; 
}

#excepcion{
	padding: 20px;
	background: #fff;
	margin-bottom: 20px;
}

.main section .bloques {
	padding: 20px;
	background: #fff;
	margin-bottom: 20px;
}

.bloqueser{
	width: 19.6%;
	height: 350%;
	margin-top: 2%;
	display: inline-block;
	vertical-align: top;
	background: #FF4C48;
	border-radius: 5px;

}

.artfont{
	text-align: center;
	font-size: 19.5px;
	color: white;

}

.imagenserv{
	display:block;
	vertical-align: top;
	padding: 40% 2% 10% 2%;
	border-radius: 5px;
}

.imagenserv2{
	display:block;
	vertical-align: top;
	padding: 28% 2% 10% 2%;
	border-radius: 5px;
}

.misvisfont{
	padding: 0 2% 0 2%;
	font-size: 17px;
	color: white;
}


.misvis{
	width: 49.5%;
	height: 22.5em;
	display: inline-block;
	vertical-align: top;
	background: #FF4C48;
	border-radius: 5px;
}

.mapa{
	display: inline-block;
	height: 90%;
}

.imagenvismis2{
	display:block;
	vertical-align: top;
	padding-top: 5%;
	padding-bottom: 10%;
	border-radius: 5px;
}

.imagenvismis{
	display:block;
	vertical-align: top;
	padding-top: 13%;
	padding-bottom: 5%;
	border-radius: 5px;
}


.formularios{
	width: 49.5%;
	height: 300px;
	display: inline-block;
	vertical-align: top;
	background: #FF4C48;
	border-radius: 5px;
}

.inp{
	width: 90%;
	margin: 0 5% 0 5%;
}

.celular{
	display: inline-block;
	width: 43%;
	margin-left: 5%;
	float: left;
}

.correoel{
	display: inline-block;
	width: 43%;
	margin-right: 4.5%;
	float: right;
}

.peche1{
	margin: 0 5% 0 5%;
	width: 90%;
	max-width: 90%;
	min-width: 90%;
	height: 7em;
	max-height: 7em;
	min-height: 7em;
	margin-top: 2%;

}

.colbtn{
	background: white;
	color: black;
	width: 15%;
	margin: 1% 42.5% 0 42.5%;
	
}
.inp, .correoel, .celular, .colbtn{
	height: 20px;
	margin-top: 2%;

}


footer{
	background: #943126;
	color:#fff;
	clear: both;
	padding: 10px 0px;
	text-align: center;
}


.fuentedepie{
	display: inline-block;
	vertical-align: top;
	margin:0% 10% -1% 10%;
}
.otrafuente{
	display: inline-block;
	padding-left: 15px;
}

section section img{
	width: 100px;
	height: 100px;
	margin: auto;
	display: block;
}

@media screen and (max-width: 673px) {
	header img{
	width: 40%;
	height: auto;
	margin: auto;
	display: block;
	}

	header, .main, footer{
	width: 90%;
	max-width: 1000px;
	margin: 10px auto; 
	}

	header nav{
	background: #FF3333;
	overflow: hidden;
	padding: 2%;
	}

	header nav ul li a{
	padding: 5px 15px;
	display: block;
	color: #fff;
	text-decoration: none;
	text-align: center;
	font-size: 17px;
	}

	#servicios{
		font-size: 22px;
	}
	
	.bloqueser{
	width: 45%;
	height: 100%;
	padding-bottom: 2%;
	margin: 1% 2% 1% 2%;
	display: inline-block;
	vertical-align: top;
	background: #FF4C48;
	border-radius: 5px;
	}

	.artfont{
	text-align: center;
	font-size: 16px;
	color: white;
	}

	.imagenserv{
	width: 50%;
	height: auto;	
	display:block;
	/*vertical-align: top;*/
	padding: 10% 0 0 0;
	border-radius: 5px;
	}
	
	.imagenserv2{
	width: 50%;
	height: auto;
	display:block;
	vertical-align: top;
	padding: 10% 0 0 0;
	border-radius: 5px;
	}

	.misvisfont{
	padding: 0 5% 0 5%;
	font-size: 15px;
	color: white;
	text-align: justify;
	}


	.misvis{
	width: 90%;
	height: 315px;
	display: inline-block;
	vertical-align: top;
	background: #FF4C48;
	border-radius: 5px;
	margin: 5% 5% 0 5%
	}
	
	.imagenvismis2{
	/*display:block;
	vertical-align: top;*/
	padding: 1% 0 0 0;
	border-radius: 5px;
	}

	#mapa{
		width: 100%
		
	}
	.formularios{
	width: 100%;
	height: 300px;
	margin-top: 8%;
	display: inline-block;
	vertical-align: top;
	background: #FF4C48;
	border-radius: 5px;
	}

	.colbtn{
	background: white;
	color: black;
	width: 20%;
	margin: 1% 42.5% 0 42.5%;
	}

	footer{
	background: #943126;
	color:#fff;
	clear: both;
	padding: 10px 0px;
	text-align: center;
	}
	
	.otrafuente{
	display: inline-block;
	padding-left: 1px;
	font-size: 11px;
	}

	.otrafuente2{
		font-size: 12px;
	}

	.fuentedepie{
	width: 50%; 
	height: auto;
	margin-top: 3%;
	}
}
